*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

nav div a{
  color: #000;
}

/* 
.listsec{
  font-size: 12px;
} */

.search p{
  color: #9c9595;
  padding-left: 1%;
}
.search p a{
  text-decoration: none;
  color: black;
}

.shop p{
  color: rgb(104, 103, 103);
  padding-left: 1%;
}
.shop p a{
  text-decoration: none;
  color: black;
}

/* nav card */
.navcard{
  color: rgb(119, 115, 115);
  font-size: 15px;
}
footer p span a{
    color: #000;
    text-decoration: none;
    border-right: 0.5px solid black;
    padding-right: 5px;
    padding-left: 5px;
}
footer p a{
    text-decoration: none;
}
footer div a{
    text-decoration: none;
    color: #242323;
}
.footerlist{
    width: 100%;
    
}

 .mega-dropdown {
  width: 100vw;
  max-width: 100%;
}


  /* Footer Nested List */
 /* .nested-row td {
    padding-left: 40px;
    background-color: #f9f9f9;
  } */


  .arrow {
    cursor: pointer;
    padding: 0.75rem;
  }

  .arrow-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push icon to right */
    width: 100%;
  }

  .arrow-icon {
    transition: transform 0.3s ease;
    
    
  }

  .arrow-icon.rotate {
    transform: rotate(90deg); /* ➤ becomes ▼ */
  }

  .nested-row td {
    padding-left: 40px;
    background-color: #f8f9fa;
  }

  .ctable-wrapper {
    overflow-x: auto;
  }


